.form

  &__label
    display: block
    margin-bottom: 15px
    color: #5b5b5b
    font-size: 14px
    font-weight: 300
    line-height: 19px
    text-align: center

  &__input
    +size(100%, 30px)
    margin-top: 10px
    background: #fff
    border: 1px solid #c4c4c4

    &.textarea
      height: 80px
      margin-bottom: 10px
