mixin btn(text)
  button.btn&attributes(attributes)
    block
    if block
      span.btn__text!=text
    else
      !=text

mixin btnLink(href, text)
  a.btn(href=href)&attributes(attributes)
    block
    if block
      span.btn__text!=text
    else
      !=text