.wrapper
  position: relative
  max-width: $wrapper
  width: 100%
  margin: 0 auto
  padding: 0 $padding
  +mobile
    padding: 0 $paddingSm

.img
  +size(100%)
  object-fit: cover
  vertical-align: middle

//------------------------------//

.content

.sectionPage

.sectionTitle