html
  height: 100%

body
  display: grid
  grid-template-rows: min-content 1fr min-content
  align-content: start
  min-height: 100%

.wrapper
  padding-right: $padding
  padding-left: $padding

  +desktop(min)
    padding-right: $wrapperLg
    padding-left: $wrapperLg

  +desktop
    padding-right: $wrapperMd
    padding-left: $wrapperMd

  +tablet
    padding-right: $wrapperTab
    padding-left: $wrapperTab

  +tabMd
    padding-right: $wrapperMob
    padding-left: $wrapperMob

.layout
  overflow-x: hidden

.imgFull
  +size(100%)
  object-fit: cover

// FlexBox
//--------------------------------------------------

.flex-center-between
  display: flex
  align-items: center
  justify-content: space-between

.flex-center
  display: flex
  align-items: center
  justify-content: center