.grid
  display: grid
  grid-column-gap: 30px
  grid-row-gap: 30px

  +mobile
    grid-column-gap: 15px
    grid-row-gap: 15px

.col2
  grid-template-columns: 1fr 1fr

.col3
  grid-template-columns: repeat(3, 1fr)

.col4
  grid-template-columns: repeat(4, 1fr)