//---------- WRAPPER ----------//

$wrapper: 1200px
$padding: 15px
$paddingSm: 8px

//---------- FONTS ----------//

$fontMain: 'Montserrat', sans-seriff

$fontSize: 16px

//---------- COLORS ----------//

$white: #fff
$black: #000

$colorText: $black
$colorTheme: #2c2d2f
$colorMain: #b35858