extends ../../layout/page

//--------------------------------------------------//

block vars
  -
    const title = 'index'
    const description = 'index'

//--------------------------------------------------//

block head
  +style('index')

block startBody
block endBody
block scripts

//--------------------------------------------------//

block content
