extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'index'
  - var description = 'index'
  - var pageId = 'indexPage'

//--------------------------------------------------//

block head
  +style('index')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  //- +script('index')

//--------------------------------------------------//

block content