extends ../../layout/page

//--------------------------------------------------//

block vars
  -
    const title = 'index'
    const description = 'index'

//--------------------------------------------------//

block head
  +style('index')

block startBody
block endBody
block scripts


//--------------------------------------------------//

block content
  .wrapper
    +btn('Модалка')(data-modal="modal")

    #modal
      p 1234