- const lang = 'ru-RU'

-
  const site = {
    name: 'name',
    phone: 'phone',
    email: 'email',
  }

  const menu = {
    link1: { href: '#', text: '1' },
    link2: { href: '#', text: '2' },
    link3: { href: '#', text: '3' },
  }