extends ../../layout/page

//--------------------------------------------------//

block vars
  -
    const title = '{{dashCase name}}'
    //- const description = '{{dashCase name}}'
    //- const keywords = '{{dashCase name}}'
    //- const pageClass = 'p-{{dashCase name}}'

//--------------------------------------------------//

block head
  //- +style('aos')
  //- +style('swiper')
  +style('{{dashCase name}}')

block startBody

block endBody
  //- +script('aos')
  //- +script('swiper')

//--------------------------------------------------//

block content

