extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = '{{dashCase name}}'
  - var description = '{{dashCase name}}'
  - var pageClass = '{{dashCase name}}-page'

//--------------------------------------------------//

block head
  +style('{{dashCase name}}')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  //- +script('{{dashCase name}}')

//--------------------------------------------------//

block content

