include mixins/mixins
include ../blocks/blocks
include ../sections/sections
+blocks
+sections

//--------------------------------------------------//

block vars
- const lang = 'ru'

//--------------------------------------------------//

doctype html
html(lang=lang)
  head
    +head
    block head

  body(class=pageClass)
    block startBody
    +header()

    main.layout
      block content
      
    +footer()

    +script('main')
    block endBody
