include mixins/mixins
include ../blocks/blocks
+blocks

//--------------------__content__--------------------//

block vars

- const lang = 'ru'

doctype html
html(lang=lang)
  head
    +head
    block head

  body
    block startBody

    .page-content.wrapper
      main.main
        block content

    block endBody
